.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  - Weights: 400, 500, 700
- Weights: 400, 500, 700

}
*/ 

/* Resets */ 

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

textarea {
  resize: none;
  padding: 0;
}

body, p {
  margin: 0;
}

button {
  border: none;
}

/* Variables */ 

:root {
  /* Primary */ 
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Base */ 

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  line-height: 1.4;
}

button {
  padding: 0.5em;
}
button:hover {
  cursor: pointer;
}

/* Typography */ 
.comment-username {
  font-weight: 700;
}

.comment-score-count, .comment-reply-btn {
  font-weight: 500;
}

.comment-reply-btn {
  font-size: 1rem;
}

.comment-score, .comment-reply-btn {
  color: var(--moderate-blue);
}

.comment-date, .comment-description {
  color: var(--grayish-blue);
}


/* Body */ 

html {
  font-size: 16px;
}

body {
  background: var(--very-light-gray);
}

/* Comment section */ 

.comment, .comment-score, .comment-reply-btn {
  border-radius: 8px;
}

.comment-thread {
  margin: 2em auto;
  width: max-content;
}

.comment {
  display: grid;
  grid-template-areas: 
    "commentInfo commentInfo"
    "commentDescription commentDescription"
    "scoreCount replyBtn";
  background: var(--white);
  max-width: 320px;
  margin-bottom: 1em;
  padding: 1em;
}

.comment-info {
  grid-area: commentInfo;
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.comment-avatar {
  width: 32px;
}

.comment-description {
  grid-area: commentDescription;
  margin: 1em 0;
}

.comment-score {
  grid-area: scoreCount;
  display: flex;
  align-items: center;
  background: var(--light-gray);
  gap: 0.4em;
  padding: 0.5em;
  width: max-content;
}

.comment-score-count {
  /* margin-top: 2px; */
}

.comment-reply-btn {
  grid-area: replyBtn;
  width: max-content;
  justify-self: end;
  background: none;
}

.reply-icon {
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 5px;
}

.add-comment {
  grid-template-areas: 
  "textarea textarea"
  "userAvatar sendBtn";
}

.user-comment-input {
  grid-area: textarea;
}

.user-avatar {
  width: 32px;
  grid-area: userAvatar;
}

.user-comment-submit {
  grid-area: sendBtn;
}